name: Deploy Portfolio


on: 
  push:
    branches: [ "main", "react-ssg"]


jobs:
  deploy-to-pages:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: peaceiris/actions-gh-pages@v4

        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: . 