name: Deploy Portfolio


on: 
  push:
    branches: [ "main", "react-ssg"]


jobs:
  deploy-to-pages:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: peaceiris/actions-gh-pages@v4

        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: . # because we're not compiling anything at this time, we'll just publish the whole directory
          publish_branch: build # I think that when I start using React for SSG, I'll want the live, compiled files that are being served to be in the build branch